<html>
    <head></head>
    <body>
        <p>
        The secret number is <%= secret_number %>
    </p>
    <form>
        <input type='text' name='guess' />
        <input type='submit' value='guess' />
    </form>
    <p><%= message %></p>
    </body>
</html>

